:root {
  --color-slate-300: hsl(212, 45%, 89%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-900: hsl(218, 44%, 22%);
  --color-blue-600: #2c7dfa;
  --color-blue-500: #79abf7;
  --color-white: #fff;

  --font-size-text-preset-1: 22px;
  --font-size-text-preset-2: 15px;

  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-500: 40px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-family: "Outfit", sans-serif;
  font-size: 15px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 375px;
  min-height: 100vh;

  margin: auto;
  padding: 0;

  background: var(--color-slate-300);
}

.container {
  max-width: 375px;

  padding: 0 1.833rem;
}

.flex {
  display: flex;
}

.skip-link {
  position: absolute;
  left: 1rem;
  top: 1rem;

  opacity: 0;
  text-decoration: 0;

  font-weight: 700;
  color: var(--color-blue-600);

  outline: 3px solid var(--color-blue-600);
  outline-offset: 5px;
  border-radius: 5px;

  transition: opacity 0.2s ease-in;
}

.skip-link:focus-visible {
  opacity: 1;
}

/* CARD STYLES */

.card {
  flex-direction: column;

  padding: var(--spacing-200) var(--spacing-200) var(--spacing-500)
    var(--spacing-200);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-300);

  border-radius: 20px;
  background: var(--color-white);

  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);

  cursor: pointer;
}

/* PULSE ANIMATION */
/* CREDITS: https://codepen.io/saigowthamr/pen/PowdZqy */

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(121, 171, 247, 0.5);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(121, 171, 247, 0);
  }
}

.card__img {
  max-width: 288px;
  border-radius: 10px;
  background: var(--color-blue-600);
}

.card__content {
  flex-direction: column;
  gap: var(--spacing-200);

  padding: 0 var(--spacing-200) 0 var(--spacing-200);
}

.card__title {
  margin: 0;

  color: var(--color-slate-900);
  text-align: center;

  font-size: var(--font-size-text-preset-1);
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.card__descr {
  margin: 0;

  color: var(--color-slate-500);
  text-align: center;

  font-size: var(--font-size-text-preset-2);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 21px */
  letter-spacing: 0.2px;
}

/* ATTRIBUTION */

.attribution {
  position: absolute;
  bottom: 5rem;

  text-align: center;
  color: var(--color-slate-900);
}

.attribution a {
  color: var(--color-blue-600);
  text-decoration: none;

  outline: 1px solid transparent;
  outline-offset: 1px;
  border-radius: 5px;

  transition: color 0.2s ease-in, outline-color 0.2s ease-in;
}

.attribution a:focus-visible {
  color: var(--color-blue-600);
  outline-color: var(--color-blue-600);
}

.attribution a:hover {
  color: var(--color-blue-500);
}

.attribution a:active {
  color: var(--color-blue-500);
}
